@charset "UST-8";

body{
    font: normal 16px arial, verdana, serif;
    text-align: justify;
    color: rgb(2, 2, 2);
    background-color:  rgb(225, 213, 213);
}

main{
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}

h1{
    font: normal bold 35px arial, verdana, serif;
    text-align: center;
}

h2{
    text-align: left;
}
button{
    font: normal bold 20px arial, serif;
}